body{
	text-align:center;
	background-image: linear-gradient(to bottom left, black, dimgrey);
	color: white;
}
.carousel-inner{
	background-image: linear-gradient(to bottom left, blue , dimgrey);
}